.image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.img:hover {
  border: 0.5rem solid rgb(234, 125, 15);
  filter: brightness(70%);
  transition: 0.3s;
}

/* .image:hover::after {
  content: "Mirage";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
} */

@media (max-width: 768px) {
  .container {
    display: block;
  }

  .image {
    margin: 0.8rem 0 0.8rem;
  }

  .img {
    width: 18rem;
    height: 13rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .container {
    display: block;
  }

  .image {
    margin: 0.8rem;
  }

  .img {
    width: 26rem;
    height: 18rem;
  }
}

@media (min-width: 1024px) {
  .container {
    display: grid;
    column-gap: 0.3rem;
    row-gap: 1.5rem;
    max-width: 74rem;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
  }

  .img {
    width: 26rem;
    height: 16rem;
  }
}
