.container {
  display: grid;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  max-width: 74rem;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img:hover {
  border: 0.5rem solid rgb(234, 125, 15);
  filter: brightness(70%);
  transition: 0.3s;
}

.img {
  height: 20rem;
  width: 35rem;
}
