.flex {
  display: flex;
  justify-content: center;
}

.container {
  width: 60vw;
  box-shadow: 0.5rem 0.5rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
  background-color: rgba(22, 33, 43, 0.5);
  background-size: cover;
  margin: 2rem;
  padding: 2rem;
  text-align: center;
  border-radius: 0.8rem;
}
